.gaddon-mailchimp-categoryname {
	font-weight: bold;
}

.gaddon-setting-checkbox {
	margin: 5px 0 0 0;
}

.gaddon-mailchimp-permission-toggle {
	margin-bottom: 5px;
}

.form-table .gaddon-mailchimp-category .gf_animate_sub_settings,
.form-table .gaddon-mailchimp-permission .gf_animate_sub_settings {
	padding-left: 10px;
}

.gaddon-mailchimp-permission:not( :first-child ) {
	margin-top: 5px;
}

.gaddon-mailchimp-permission .gaddon-setting-checkbox:first-child {
	margin-top: 0;
}

.form-table .condition_container {
	margin-bottom: 10px;
	margin-top: 5px;
}

.gaddon-mailchimp-permission .condition_label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-table .gaddon-mailchimp-category {

	padding-bottom: 12px;

}

.gform-settings-panel__content .condition_container {

	padding-bottom: 1rem;

}

.gform-settings-panel__content .gaddon-mailchimp-permission .condition_container {

	margin-bottom: 1rem;
	padding-top: .5rem;

}

.gaddon-mailchimp-category .gform-settings-field__conditional-logic .gf_conditional_logic_rules_container,
.gaddon-mailchimp-permission .gform-settings-field__conditional-logic .gf_conditional_logic_rules_container {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.condition_container select {

	width: auto !important;

}

.gform-settings-panel__content .condition_container > select {

	line-height: 1.0625rem;
	margin-bottom: .5rem;
	padding: .5rem 2.4375rem .5rem .8125rem;

}

 #tab_gravityformsmailchimp #gaddon-setting-row-connection > th {
	display: none;
 }



 html[dir=rtl] .gform-settings-field__conditional-logic .gf_conditional_logic_rules_container select:first-child {
	 margin-left: 2px;
 }
